<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container mb-4">
    <div class="d-flex justify-content-between align-items-center mt-4">
    <h1>Perguntas</h1>
    <a class="btn btn-primary" href="/question">Perguntar</a>

    
    </div>
    
    <hr>
    
    <% questions.forEach((i) => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h3><%= i.title %></h3>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <a href="/question/<%= i.id %>"><button class="btn btn-primary">Responder</button></a>
          <div class="user">
            <% if (i.username) { %>
              <span id="label-comment"><%= i.username %></span>
              <img id= "github-img"class="img-fluid rounded-pill ml-2" src="https://github.com/<%= i.username %>.png" alt="user-image">
            <% } else { %>
              <span id="label-comment">Dev anônimo(a)</span>
              <img id= "github-img" class="img-fluid rounded-pill ml-2" src="/img/user-icon.jpg" alt="user-image"> 
            <% } %>
          </div>
        </div>
      </div>
    <%})%>
  </div>
</body>
<%- include('partials/footer.ejs') %>